# --- 忽略 Python 解释器和系统库 (这部分最重要) ---
*.exe
*.dll
*.lib
Scripts/
Lib/
libs/
DLLs/
include/
tcl/
share/
Doc/

# --- 忽略 Sublime Text 编辑器 ---
Sublime Text/

# --- 忽略 缓存和临时文件 ---
__pycache__/
*.pyc
.ipynb_checkpoints/
log/

# --- 忽略 虚拟环境 (如果以后有的话) ---
venv/
.env/

# --- 忽略 Word 文档和临时垃圾 ---
*.docx
*.doc
*.tmp
~$*